/* 
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.525);
  
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content{
    background-color: #17D4FE;
    width: 500px;
    padding: 16px;
  }
  
  .modal-content form{
    display: flex;
    flex-direction: column;
  
  } */