body {
  padding: 0;
  margin: 0;
  font-family: verdana;
  background-color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.contain {
  margin: auto;
}

.shadow {
  width: 70%;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}

h1 {
  color: rgb(19, 74, 255);
  text-align: center;
}

h2 {
  color: rgb(51, 245, 138);
  text-align: center;
  font-size: 50px;
}

h3 {
  color: rgb(51, 65, 65);
  text-align: center;
  font-size: 50px;
  margin: 5rem 2rem;
}

h4 > span {
  color: blue;
}

.taskList {
  border: 5px solid blueviolet;
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  margin: 5px;
}

.time {
  font-size: 50px;
  color: #000000;
}

.digit {
  font-size: 90px;
  color: #fff;
}

.txt {
  font-size: 30px;
  color: #fffcd6;
}

#buttons {
  margin-top: 50px;
}

.listData {
  display: flex;
}

.btn {
  width: 100px;
  padding: 10px 15px;
  margin: 0px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  font-weight: 500;
}

#start {
  background-color: #009779;
}

#disableButton {
  background-color: #dddddd;
  color: teal;
}

#stop {
  background-color: #c91400;
}

#save {
  background-color: #0e85fc;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  height: 500px;
}

.clearAll {
  color: #fff;
  margin: 5rem 2rem;
  padding: 5px 15px;
  background-color: #7b7ed0;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 7rem;
  font-weight: 700;
  font-size: 2rem;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.clearAll:hover {
  transform: scale(1.03);
  background-color: #ae82d1;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
